.examDetail{
    margin-top: 150px;
}
section{
    margin-bottom: 60px;
}
.section-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-section,.video-section{
    justify-content: center;
    align-items: center;
    text-align: center;
}
.image-section img{
    width: 100%;
    justify-content: center;
}
.image-section span{
    text-align: center;
}
.providing h1{
    padding-left: 10%;
}
.button{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
}
.button button{
    background: #3164f4;
    border: 0;
    border-radius: 0.8rem;
    height: 2.5rem;
    font-size: 0.9rem;
    color: white;
    width: 10rem;
    margin-top: 1rem;
}
.demo-class h1{
    text-align: center;
    margin-bottom: 20px;
}
.providing .section-wrapper .image-section img{
    width:80%;
}
.providing .section-wrapper .image-section ,.video-section{
    display: flex;
    flex-direction: column;
}
.video-section{
    margin-left: 15px;
}
.video-section span{
    margin-top: 10px;
}
.see-more-section{
    position: fixed;
    top: 12vh;
    background-color: #FFFF;
    width: 100vw;
    height: 88vh;
    overflow: auto;
    display: none;
    /* display: none; */
}
.book-heading{
    background-color: #3164f4;
    display: flex;
}
.heading-area{
    width: 95%;
}
.close-image{
    width: 5%;
}
.close-image img{
    width: 50%;
}
.book-card-section{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px,150px));
    gap: 10px;
    margin: 10px;
}
.book-card-section a{
    text-decoration: none;
    color: black;
}
.book-card{
    border: 1px solid black;
    /* height: 40vh;
    width: 15vw; */
    background-color: #0000;
    margin-right: 15px !important;
    display: flex;
    flex-direction: column;
}
.book-image{
    height: 90%;
}
.book-image img{
    height: 100%;
    width: 100%;
}
.book-text{
    height: 10%;
}
.book-text p{
    margin: 0%;
    padding: 0%;
}
@media screen and (max-width:1024px){
    .paper-detail .section-wrapper .paper-detail p{
        width: 100%;
    }
    .demo-class h1{
        margin-bottom: 10px;
    }
    .demo-class .section-wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .video-section{
        margin:10px auto;
    }
    iframe{
        width: 120%;
        height: 15em;
        margin-bottom: 15px;
    }
}
@media screen and (max-width:750px){
    .section-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-left: 10px;
    }
    .demo-class .section-wrapper{
        display: flex;
        flex-direction: column;
    }
    .paper-detail .section-wrapper .paper-detail p{
        margin: 10px auto;
        font-size: 13px;
        text-align: left;
    }
    .providing .image-section{
        width: 60%;
    }
    .paper-detail img{
        width: 80%;
    }
    iframe{
        width: 100%;
        height: 100%;
    }
}