.section-wrapper{
    display: flex;
    position: fixed;
    bottom: -10%;
    height: 85%;
    width: 100%;
}
.section-1{
    width: 75%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden !important;
}
.section-1-ques{
    border: 1px solid #000;
    height:85%;
    width: 100%;
    overflow: auto;
    padding: 1em;
}
.ques-content{
    padding: 10px;
}
.radio-box{
    display: flex;
}
.section-1-para{
    display: flex;
    flex-direction: row;
    height: 85%;
}
.para-1{
    border: 1px solid #000;
    padding: 1em;
    width: 50%;
    overflow: auto;
}
.para-2{
    border: 1px solid #000;
    padding: 1em;
    width: 50%;
    overflow: auto;
}
.section-1-button{
    height: 15%;
    width: 97%;
    background-color: #ebf4f9;
    display: flex;
    justify-content: space-between;
    padding: 0px 15px;
    align-items: center;
}
.questions-content{
    padding: 10px;
}
.prev-btn,
.next-btn
{
    cursor: pointer;
    border: none;
    background: #3164f4;
    width: 140px;
    height: 40px;
    margin-right: 20px;
}
.end-btn{
    cursor: pointer;
    border: none;
    background: #3164f4;
    width: 50px;
    height: 40px;
    margin-right: 20px;
    display: none;
}
.prev-btn h1,
.next-rev-btn h1,
.end-btn h1
{
    color: #FFF;
    font-size: 1.5em;
}
.end-btn h1{
    font-size: .8em;
}
.review-box{
    cursor: pointer;
    border: none;
    background: #3164f4;
    color: #FFF;
    width: 150px;
    height: 40px;
    font-size: 1em;
    margin-right: 20px;
}
.entity{
    color: #FFF;
    font-size: 1.5em;
    font-size: 30px;
    padding: 7px;
    display: none;
    margin-top: -10px;
}
.question{
    padding-top: .5em;
    margin: 0%;
}
.ques-content img{
    width: 40%;
    height: 40%;
    overflow: hidden;
}
.section-2{
    width: 25%;
    /* height: 70vh; */
    display: flex;
    flex-direction: column;
    background-color: #a6dce8;
}
.rules{
    height: 40%;
}
.rules h1{
    text-align: center;
    padding-bottom: 10px;
}
.rules p{
    margin: 0px;
    margin-bottom: 5px;
    text-align: left;
    display: flex;
    margin-left: 50px;
}
.circle{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: inline-flex;
    margin-right: 5px;
}
.palette{
    height: 75%;
    display: flex;
    flex-direction: column;
}
.palette-section{
    height: 90%;
}
.end-exam{
    height: 20%;  
    display: flex; 
    margin: auto;
    width: 80%;
}
.end-exam button{
    align-content: center;
    align-self: center;
    align-items: center;
    margin-left: 20px;
    background-color:#3164f4;
    border: none;
    color: #FFF;
    height: 60%;
    cursor: pointer;
    width:100%;
    font-size: 1.5em;
}
.palette h1{
    text-align: center;
}
.palette-box{
    width: 100%;
    height: 200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px;
    overflow: auto !important;
    /* background-color: blue; */
    /* display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; */
}
.ques-circle-box{
    /* flex: 1 0 21%; */
    text-align: center;
    margin: 5px 0px;
}
/* .review-box{
    margin-right: 10px;
    background-color:#3164f4;
    border: none;
    color: #FFF;
    height: 7vh;
    width: 10vh;
    cursor: pointer;
} */
.ques-circle{
    border: 1px solid black;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: inline-flex;
    margin-right: 5px;
    text-align: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #CBCBCB;
}
.next-rev-btn{
    display: flex;
}
.phone-pallete{
    display: none;
    width: 300px;
    height: 180px;
    position: fixed;
    top: 200px;
    right: -230px;
    transition: 1s;
    z-index: 99;
    overflow: visible;
}
.pallete-button{
    width: 100px;
    height: 40px;
    background-color: #3164f4;
    color: #FFF;
    font-size: 1.4em;
    border: none;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    cursor: pointer;
    transform: rotate(270deg);
}
.phone-pallete button:hover{
    color: #FFF;
    background: #000;
}
.pallete-hover-box{
    position: relative;
    bottom: 50%;
    left: 23%;
    background-color: #a6dce8;
    z-index: 999;
}
.endDialog{
    position: fixed;
    top: 0vh;
    right: 0vh;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .3);
    z-index: 99;
    display: none;
}
.dialog{
    position: relative;
    top: 27%;
    left: 20%;
    width: 60%;
    height: 46%;
    background-color: #FFF;
    /* padding: 10px; */
    border-radius: 5px;
}
.dialog h1{
    text-align: center;
    font-size: 2em;
    margin-bottom: 5px;
    color: #37555c;
}
.dialog hr{
    width: 80%;
    height: .1em;
    background-color: #000;
    border: none;
    margin-top: 0px;
}
.dialog h2{
    display: flex;
    justify-content: space-evenly;
    color: #37555c;
}
table{
    margin: auto;
    width: 90%;
    height: 40%;
}
.table-heading{
    background-color: #37555c;
    color: #FFF;
}
table,tr,td,th{
    border: 1px solid #000;
    text-align: center;
}
.dialog-btn{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}
.finishbtn{
    z-index: 999;
    background-color: #000;
    border: none;
    color: #FFF;
    width: 160px;
    height: 50px;
    opacity: 1;
    cursor: pointer;
    font-size: 20px;
}
.revbtn{
    z-index: 999;
    background-color: #b52B00;
    border: none;
    color: #FFF;
    width: 160px;
    height: 50px;
    opacity: 1;
    cursor: pointer;
    font-size: 20px;
}
.test-name-one{
    text-align: center;
    margin-bottom: 20px;
    display: none;
}
@media screen and (max-width: 1100px){
    .ques-circle{
        width: 30px;
        height: 30px;
    }
    .rules p{
        margin-left: 20px;
    }
    .dialog{
    width: 80%;
    left: 10%;
    }
}
@media screen and (max-width: 850px){
    .section-1{
        width: 100%;
    }
    .section-2{
        display: none;
    }
    .phone-pallete{
        display: block;
    }
    .dialog{
        width: 90%;
        left: 5%;
    }
}
@media screen and (max-width: 600px){
    .section-1-ques{
        border: none;
    }
    .section-1-para{
        display: block;
        overflow: auto;
    }
    .para-1,.para-2{
        width: 90%;
        border: none;
    }
    .entity{
        display: block;
    }
    .prev-btn h1,
    .next-btn h1{
        display: none;
    }
    .prev-btn,
    .next-btn{
        width: 50px;
    }
    .dialog{
        width: 100%;
        left: 0%;
        overflow: auto;
    }
    table{
        width: 700px;
        overflow: auto;
    }
}
@media screen and (max-width: 400px){
    .test-name{
        display: none;
    }
    .test-name-one{
        display: block;
    }
}
