/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap"); */

/* ---------------Section 5 of Home Page--------------- */
.section5 {
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
  box-sizing: border-box;
  /* font-family: "Poppins", sans-serif; */
  background: white;
}

/* ---------------Top right side tag - Our Courses--------------- */
.sec5_top_tag {
  background-color: #3164f4;
  color: #ffffff;
  text-align: right;
  padding: 0 1%;
  max-width: 40%;
  min-height: 130px;
  position: relative;
  left: 57.9%;
  border: 0.5px solid black;
}

/* ---------------Exams sec5_exam_info--------------- */
.sec5_exam_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 50%;
  margin: auto;
}

.sec5_exam_box1 {
  display: flex;
  /* margin: auto -20%; */
  margin: auto -15%;
  margin-bottom: 5%;
  /* border: 5px solid black; */
}
.sec5_exam_box2 {
  display: flex;
  margin: auto -15%;
  margin-bottom: 5%;
}
.sec5_exam_box3 {
  display: flex;
  margin: auto -15%;
}

/* ---------------Images--------------- */
.sec5_exam_box :first-child img {
  max-height: 150px;
  margin: 0;
}
.sec5_exam_box img {
  max-height: 150px;
  margin-left: 20%;
}
.sec5_exam_box :last-child img {
  max-height: 140px;
  margin: 0;
}

/* ---------------Text--------------- */
.sec5_exam_info {
  width: 70%;
}
.sec5_exam_info h1 {
  margin: auto 10%;
}
.sec5_exam_info p {
  margin: auto 10% 2% 10%;
  /* margin: auto 10%; */
}
.sec5_exam_box2 .sec5_exam_info h1 {
  margin: auto 10% auto 2%;
}
.sec5_exam_box2 .sec5_exam_info p {
  margin: auto 10% 2% 2%;
}

/* --------------Button - Free Trail--------------- */
.sec5_free_trail_button {
  background-color: #3164f4;
  color: #ffffff;
  font-size: 1.3rem;
  border: 0.5px solid black;
  padding: 1.1% 4.8%;
  position: relative;
  left: 40%;
  margin-top: 1%;
}

@media only screen and (max-width: 1125px) {
  .sec5_top_tag {
    font-size: 180%;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 100%;
    left: 0%;
  }
  .sec5_top_tag p {
    width: 80%;
  }
  .sec5_exam_box {
    font-size: 150%;
    margin: 2% auto;
  }
  .sec5_exam_box1 {
    display: flex;
    width: 100vw;
    /* margin: auto -20%; */
    /* margin: 0%; */
    margin-bottom: 5%;
    /* border: 5px solid black; */
  }
  .sec5_exam_box2 {
    display: flex;
    width: 100vw;
    margin-left: 0.1%;
    /* margin: 0%; */
    margin-bottom: 5%;
  }
  .sec5_exam_box3 {
    display: flex;
    width: 100vw;
    /* margin: auto -15%; */
  }

  /* ---------------Images--------------- */
  .sec5_exam_box :first-child img {
    max-height: 250px;
    margin: auto;
  }
  .sec5_exam_box img {
    max-height: 250px;
    margin: auto;
    margin-left: 1%;
  }
  .sec5_exam_box :last-child img {
    max-height: 240px;
    margin: auto;
  }

  /* --------------Button - Free Trail--------------- */
  .sec5_free_trail_button {
    font-size: 200%;
    padding: 2.1% 5.8%;
  }
}

@media only screen and (max-width: 600px) {
  .sec5_top_tag {
    font-size: 100%;
    min-height: auto;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 100%;
    left: 0%;
  }
  .sec5_top_tag p {
    display: none;
  }
  .sec5_exam_box {
    font-size: 70%;
    margin: 2% auto;
  }
  .sec5_exam_box1 {
    display: flex;
    width: 100vw;
    margin-bottom: 5%;
  }
  .sec5_exam_box2 {
    display: flex;
    width: 100vw;
    margin-left: -10%;
    margin-bottom: 5%;
  }
  .sec5_exam_box3 {
    display: flex;
    width: 100vw;
  }

  /* ---------------Images--------------- */
  .sec5_exam_box :first-child img {
    max-height: 100px;
    margin: auto;
  }
  .sec5_exam_box img {
    max-height: 100px;
    margin: auto;
    margin-left: 1%;
  }
  .sec5_exam_box :last-child img {
    max-height: 100px;
    margin: auto;
  }

  /* ---------------Text--------------- */
  .sec5_exam_info {
    width: 70%;
  }
  .sec5_exam_info h1 {
    margin: 2% 10%;

  }
  .sec5_exam_info p {
      line-height: 160%;
  }
  .sec5_exam_box2 .sec5_exam_info h1 {
    margin: 2% 10% 2% 2%;
  }
  .sec5_exam_box2 .sec5_exam_info p {
    margin: auto 10% 2% 2%;
  }

  /* --------------Button - Free Trail--------------- */
  .sec5_free_trail_button {
    font-size: 100%;
    left: 30%;
    padding: 2.1% 5.8%;
  }
}
