.header{
    height: 10vh;
    background-color: #FFF;
    text-align: right;
    margin: 10px 20px 0px 0px;
}
.content{
    width: 100%;
    height: 90vh;
    position: fixed;
    background-color: #EDEDED;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inner-content{
    width: 90%;
    height: 90%;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inner-content h2{
    padding-top: 20px;
    padding-bottom: 20px;
}
.inner-content select{
    width: 30%;
    height: 8%;
    font-size: 20px;
}