.dashboard{
    margin-top: 10em;
    display: flex;
}
.left-box{
    width:50%;
}
.right-box{
    width: 40%;
}
.dp-box{
    width: 50%;
}
.dp{
    width: 100%;
    justify-content: right;
    align-items: center;
    text-align: right;
}
/* blur screen */

.blur-dialog{
    position: fixed;
    top: 0vh;
    right: 0vw;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.3);
    z-index: 99;
}
.blur-form{
    background-color: #FFF;
    height: 60%;
    width: 35%;
    /* height: 515px;
    width: 500px; */
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    position: relative;
    top: 20%;
    left: 30%;
    border-radius: 25px;
    padding: 20px;
}
.blur-form h1{
    text-align: center;
    padding-bottom: 15px;
}
.blur-form form{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
}
.blur-form form input{
    margin-bottom: 15px;
    width: 100%;
    height: 5vh;
    font-size: 1em;
    padding: 5px 0px;
    border: none;
    border-bottom: 2px solid #e5e5e5;
}
.blur-form button{
    /* margin: 20px 0px; */
    background: #3164f4;
    border: 0;
    border-radius: 0.8rem;
    height: 2.5rem;
    font-size: 0.9rem;
    color: white;
    width: 10rem;
    margin-top: 1rem;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    align-self: center;
}

/* end of blur dialog  */
.account-information{
    display: flex;
    margin-left: 10%;
    width: 80%;
}
.account-content{
    width: 50%;
    margin-top: 5%;
    margin-left: 10%;
}
.account-content p{
    color: gray;
    margin-top: 0%;
    margin-bottom: 0%;
}
.account-content h1{
    margin-top: 5%;
}
.result-box{
    width: 60%;
    margin-top: 5px;
    margin-left: 10%;
    border: 3px solid  rgb(71, 70, 70);
    text-align: center;
    border-radius: 20px;
    display: inline-block;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}
.result-box p{
    text-decoration: none;
    font-style: normal;
    font-weight: lighter !important;
    font-size: 20px;
    margin: 2px auto 2px auto;
}
.result-box img{
    height: 25px;
}
.result-box hr{
    width: 80%;
    height: 1px;
    background-color: rgb(71, 70, 70);
}
.carousel-box{
    background: #005dff;
    border-radius: 10px;
    width: 80%;
    margin: 1em auto;
    padding-top: .6em;
}
  
  .carousel-section .upcomming-batch {
    text-align: center;
  }
  
  .carousel-section .section-wrapper .upcomming-batch h1 {
    margin-bottom: 20px !important;
    font-size: 2.3rem;
  }
  
  .upcomming-batch .batch {
    width: 100%;
    background: #005dff;
    height: 100%;
    border-radius: 1rem;
    overflow: hidden;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .upcomming-batch .batch span {
    color: white;
  }
  .upcomming-batch .batch img , 
  .upcomming-batch .batch a,
  .upcomming-batch .batch iframe
  {
    width: 350px !important;
    height: 150px;
  }
  .upcomming-batch .batch iframe{
    margin-bottom: 0px !important;
  }
  .title{
    margin-bottom: 5px;
  }
  .description{
    margin-top: 5px;
    margin-bottom: 30px;
  }
  


  /* topper   */
  .show-topper{
    text-decoration: underline;
    cursor: pointer;
    margin-top: 10px;
}
.topper-list{
    position: fixed;
    top: 0px;
    right: 0px;
    background-color: rgb(0 0 0 / 0.2);
    width: 100%;
    height: 100%;
    z-index: 9999999;
}
.topper-section{
    width: 80%;
    height: 80%;
    margin: 0px auto;
    margin-top: 5em;
    margin-bottom: 3em;
    background-color: #FFF;
    border-radius: 20px;
    overflow: auto;
}
.topper-heading{
   display: flex;
   align-items: center;
   background-color: rgb(71, 69, 69);
}
.topper-heading h1{
    font-size: 2em;
    margin-bottom: .5em !important;
    width: 95%;
    color: #FFF;
}
.topper-heading img{
    background-color: #FFF;
    width: 30px !important;
    height: 30px !important; 
    border-radius: 10px;
}
.topper-content{
    margin-top: 60px;
    display: grid;
    /* grid-template-columns: repeat(4,1fr); */
    grid-template-columns: repeat( auto-fit, minmax(150px, 1fr) );
    grid-gap: 60px;
    margin: 10px;
}

.topper-rank
{
    width: 100px;
    height: 30px;
    border-radius: 25px;
    background-color: #23ccef;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 10px 0px !important;
}

.a-box {
    border-radius: 15px !important;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    border: 2px solid rgb(230, 227, 227);
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .2);
    background-color: #FFF;
    position: relative;
    height: 200px;
    min-width: 200px;
  }
  .a-box:hover{
    border: 4px solid rgb(230, 227, 227);
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, .2);
  }
  .inner-skew{
      position: absolute;
      top: 2px;
  }
  .inner-skew img{
      width: 100px !important;
      height: 100px !important;
      z-index: 99;
  }
  .topper-text-container{
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .topper-text-container p{
      margin: 0px;
      padding: 0px;
  }
@media screen and (max-width:900px){
    .left-box{
        width: 50%;
    }
    .right-box{
        width: 50%;
    }
    .carousel-box{
        width: 90%;
    }
    .result-box h3{
        font-size: 15px;
    }
    .result-box img{
        width: 15px;
    }
    .topper-heading h1{
        width: 90%;
    }
}
@media screen and (max-width: 800px){
    .blur-form{
        width: 50%;
        left: 25%;
    }
}
@media screen and (max-width:670px){
    .dashboard{
        flex-direction: column;
    }
    .left-box,
    .right-box{
        width: 100%;
    }
    .carousel-box{
        width: 100%;
    }
}
@media screen and (max-width: 550px){
    .blur-form{
        width: 70%;
        left: 15%;
    }
}
@media screen and (max-width: 400px){
    .blur-form{
        width: 90%;
        left: 0%;
    }
}