.boom-poster {
  margin-top: 7em;
}
.boom{
  width: 50%;
  margin: auto;
}
.content-1 {
  text-align: center;
}
.result-1 ,.result-2{
  width: 90%;
  display: flex;
  margin: 0% auto;
  justify-content: space-between;
}
.image-section {
  width: 55%;
}
.image-section img {
  width: 100%;
}
.text-section {
  width: 40%;
  margin-top: 5%;
}
.text-section p {
  font-weight: 200;
}
.team h1,.team p{
    text-align: center;
    margin-top: 0%;
}

.section-3
{

  background-color: #ededed;
}
.section-3 h1{
  padding-top: 20px;
  text-align: center;
  font-size: 2rem;
}
.section-3 hr{
  width: 60%;
  height: 1px;
  background-color: #000;
}
.section-3 .section-wrapper
{
  display: flex;
  width: 90%;
  margin: auto;
}
.section-3 .section-wrapper .row-1,
.section-3 .section-wrapper .row-2  {
  display: flex;
  width: 50%;
  flex-direction: row;
}
.section-3 .section-wrapper .row-1{
  flex-direction: column;
}
.section-3 .section-wrapper .row-1 .charestics{
  display: flex;
  align-items: center;
}
.section-3 .section-wrapper .row-1 .charestics div{
  min-width: 70px;
  min-height: 70px;
  margin: 10px 0px;
  background-color: #31155281;
  display: flex;
  margin-right: 10px;
  justify-content: center;
  align-items: center;
}
.section-3 .section-wrapper .row-1 .charestics div img{
  width: 60px;
  height: 55px;
}
.section-3 .section-wrapper .row-2 img{
  overflow: hidden;
  width: 100%;
}

@media screen and (max-width:1100px){
    .text-section{
        margin-top: 0%;
      }
}
@media screen and (max-width:900px){
  .boom{
    width: 80%;
  }
    .result-1 ,.result-2{
        flex-direction: column;
      }
      .image-section {
        width: 100%;
      }
      .text-section {
        width: 100%;
      }
      .text-section h1{
          text-align: center;
      }
      .result-2{
          flex-direction: column-reverse;
      }
}
@media screen and (max-width: 635px) {
  .section-3 .section-wrapper .row-2{
    display: none;
  }
  .section-3 .section-wrapper .row-1{
    width: 100%;
  }
}
@media screen and (max-width: 400px){
  .boom{
    width: 90%;
  }
}